html {
    height: 100vh;
    width: 100vw;
}

:root {
    background: var(--background);
    color: var(--text);
    font-family: 'ellograph-cf'
}


body {
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

a {
    color: var(--text);
    text-decoration: none;
}

@media (prefers-color-scheme: light) {
    :root {
        --text: #171e15;
        --background: #e9f0e9;
        --primary: #344630;
        --secondary: #d5e0d1;
        --accent: #66895d;
        --highlight-1: #885053;
        --highlight-2: #007991;
        --highlight-3: #773344;
        --accent-2: #223322;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #e3eae1;
        --background: #0e150e;
        --primary: #bdcfb9;
        --secondary: #232e1f;
        --accent: #7fa276;
        --highlight-1: #885053;
        --highlight-2: #007991;
        --highlight-3: #773344;
        --accent-2: #223322;
    }
}
